@model AppCurso.Models.Pedido

@{
    ViewData["Title"] = "Criar Pedido";
}

<h1>Criar</h1>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cliente" class="control-label"></label>
                <input asp-for="Cliente" class="form-control" value="@User.Identity?.Name" />
                <span asp-validation-for="Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" value="0.00" readonly id="Total" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label>Selecione os produtos:</label>
                @foreach (var produto in ViewBag.Produtos)
                {
                    <div style="display: flex; justify-content: space-between; padding-right: 10px;">
                        <input type="hidden" name="ProdutoId" value="@produto.Id" />
                        <label>
                            @produto.Descricao - @produto.Preco.ToString("C")
                        </label>
                        <input type="number" name="Quantidade" min="0" max="10" value="0" data-preco="@produto.Preco" />
                        <input type="text" name="ValorTotal" id="ValorTotal" value="0.00" readonly />
                    </div>
                }
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<hr />
<div>
    <a asp-action="Index">Voltar para a listagem</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('input[name="Quantidade"]').change(function () {
                calcularTotais();
            });

            function calcularTotais() {
                var totalPedido = 0;

                $('input[name="Quantidade"]').each(function () {
                    var quantidade = parseInt($(this).val());
                    var preco = parseFloat($(this).data('preco'));

                    if (!isNaN(quantidade) && !isNaN(preco)) {
                        var totalProduto = quantidade * preco;
                        totalPedido += totalProduto;

                        // Encontrar elementos relacionados ao cálculo do total do produto
                        var divProduto = $(this).closest('div');
                        var totalProdutoElement = divProduto.find('input[name="ValorTotal"]');
                        totalProdutoElement.val(totalProduto.toFixed(2));
                    }
                });

                // Atualizar o valor total do pedido
                $('#Total').val(totalPedido.toFixed(2));
            }
        });
    </script>
}
