@model IEnumerable<AppCurso.Models.Pedido>

@{
    ViewData["Title"] = "Listagem dos Pedidos";
}

<h3>Listagem dos Pedidos</h3>
<p>
    <a asp-action="Create">Criar um novo Pedido</a>
</p>
@foreach (var pedido in Model)
{
    <table class="table">
        <thead>
            <tr>
                <th style="color: white;">
                    @Html.DisplayNameFor(model => model.First().Id)
                </th>
                <th style="color: white;">
                    @Html.DisplayNameFor(model => model.First().Cliente)
                </th>
                <th style="color: white;">
                    @Html.DisplayNameFor(model => model.First().Status)
                </th>
                <th style="color: white;">
                    Total Pedido
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="color: #DCDCDC;">
                    @Html.DisplayFor(model => pedido.Id)
                </td>
                <td style="color: #DCDCDC;">
                    @Html.DisplayFor(model => pedido.Cliente)
                </td>
                <td style="color: #DCDCDC;">
                    @Html.DisplayFor(model => pedido.Status)
                </td>
                <td style="color: #DCDCDC;">
                    @Html.DisplayFor(model => pedido.Total)
                </td>
            </tr>
            <tr>
                <th style="color: white;">
                    Descrição
                </th>
                <th style="color: white;">
                    Preço
                </th>
                <th style="color: white;">
                    Quantidade
                </th>
                <th style="color: white;">
                    Valor Total
                </th>
            </tr>
    @foreach (var produto in pedido.ProdutoPedidos)
    {
                <tr>
                    <td style="color: #DCDCDC;">
                        @produto.Descricao
                    </td>
                    <td style="color: #DCDCDC;">
                        @produto.Preco.ToString("C")
                    </td>
                    <td style="color: #DCDCDC;">
                        @produto.Quantidade
                    </td>
                    <td style="color: #DCDCDC;">
                        @produto.Total.ToString("C")
                    </td>
                </tr>
    }
            <td style="color: #df6919; font-size: 1.1em;">
                @if (pedido.Status == "Pedido criado. Aguardando pagamento")
                {
                    <span style="margin-right: 5px;">
                        <a asp-action="Edit" asp-route-id="@pedido.Id" style="color: #df6919; text-decoration: underline;">Editar</a>
                    </span>
                    <span style="margin-right: 5px;">
                        <a asp-action="Delete" asp-route-id="@pedido.Id" style="color: #df6919; text-decoration: underline;">Deletar</a>
                    </span>
                    <span style="margin-right: 5px;">
                        <a asp-action="Payment" asp-route-id="@pedido.Id" style="color: #df6919; text-decoration: underline;">Pagar</a>
                    </span>
                }
                @if (pedido.Status == "Pedido pago. Aguardando recebimento")
                {
                    <span style="margin-right: 5px;">
                        <a asp-action="Recept" asp-route-id="@pedido.Id" style="color: #df6919; text-decoration: underline;">Receber</a>
                    </span>
                }
                @if (pedido.Status == "Pedido recebido. Aguardando avaliacao")
                {
                    <span style="margin-right: 5px;">
                        <a asp-action="Assess" asp-route-id="@pedido.Id" style="color: #df6919; text-decoration: underline;">Avaliar</a>
                    </span>
                }
                <span style="margin-right: 5px;">
                    <a asp-action="Details" asp-route-id="@pedido.Id" style="color: #df6919; text-decoration: underline;">Detalhar</a>
                </span>
            </td>
        </tbody>
    </table>
}
